@font-face {
    font-family: "Open Sans Regular";
    src: local("OpenSans-Regular"), url("./../assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Raleway Extra Light";
    src: local("Raleway-ExtraLight"), url("./../assets/fonts/Raleway-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Raleway Semi Bold";
    src: local("Raleway-SemiBold"), url("./../assets/fonts/Raleway-SemiBold.woff") format("woff");
}