// VARIABLES
//--------------------------------------------------------
//  --colors
$brandBlack: #000;
$brandWhite: #fff;
$brandBg: #001820;
//  --fonts
$openSansRegular: "Open Sans Regular";
$ralewayExtraLight: "Raleway Extra Light";
$RalewaySemiBold: "Raleway Semi Bold";
// HELPERS
//--------------------------------------------------------
.ovh {
    overflow: hidden;
}
.text-nowrap {
    white-space: nowrap;
}