html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    color: $brandWhite;
    font-family: $openSansRegular, Helvetica, Arial, sans-serif;
    background: $brandBg url(./../assets/images/bg_image.jpg) 68% 34% /180% no-repeat fixed;
    overflow-x: hidden;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.app {
    position: relative;
}

.app__bg--filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
}