@media (max-width: 1439px) and (min-width: 1024px) {
    body {
        background-position: 65% 36%;
        background-size: 193%;
    }
    .header__brand-logo {
        height: 2.85rem;
    }
    .navigation {
        padding-top: 2.6rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .navigation__item {
        margin-left: 2rem;
    }
    .navigation__link {
        font-size: .8rem;
    }
    .navigation__link--contact {
        padding: .3rem 1.8rem;
    }
    .intro__quote {
        padding-top: 3.2rem;
        line-height: 2.25rem;
        font-size: 1.78rem;
        font-weight: 500;
    }
    .awesome-shape {
        margin: 6rem 0;
        width: 5.45rem;
    }
    .intro__social--invitation {
        font-size: .865rem;
    }
    .intro__social--profile {
        font-size: .78rem;
        &:nth-child(3) {
            margin: 0 2.6rem;
        }
    }
    .intro__social--icon {
        width: 1.4rem;
    }
}