@media (max-width: 374px) and (min-width: 320px) {
    body {
        background-position: -530px -113px;
        background-size: 370%;
    }
    .header__brand-logo {
        height: 1.8rem;
    }
    .navigation--toggle {
        top: 26px;
    }
    .intro__quote {
        padding-top: .3rem;
        line-height: 1.5rem;
        font-size: 1.18rem;
    }
    .awesome-shape {
        margin: 1.2rem 0;
        width: 4rem;
    }
    .intro__social--invitation {
        margin-top: -.1rem;
        margin-bottom: 1.1rem;
        line-height: 1.2rem;
        font-size: .7rem;
    }
    .intro__social--profile {
        font-size: .74rem;
        &:nth-child(2) {
            padding-top: .8rem;
        }
        &:nth-child(3) {
            margin: 1.7rem 0;
        }
    }
    .intro__social--icon {
        width: 1.15rem;
    }
    .more-trigger__wrapper {
        left: calc(50vw - 18px);
    }
    .more-trigger__inner {
        width: 56px;
        border-radius: 3px;
    }
    .more-trigger__text {
        bottom: 81px;
        left: 11px;
        font-size: 1.1rem;
        font-weight: 500;
        &::after {
            content: '+';
        }
    }
}